<div class="addContainer" style="max-width: 600px;">
  <div class="modalHeader" style="margin-bottom: 20px;">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!--<img [src]='' alt="avatar">-->
        <div class="modal-about">
          <!--{{dialogTitle}}-->
        </div>
      </div>
    </div>
    <button mat-icon-button class="modal-close-button" aria-label="Close dialog" (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="physicalTreatmentForm!">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Treatment Name</mat-label>
            <input matInput formControlName="treatmentName" name="treatmentName"   required/>
            <!--[disabled]="categoryForm.get('categoryName')?.untouched === true"-->
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix></mat-icon>
          </mat-form-field>
        </div>

          <!--<mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Please Select a Category:</mat-label>
              <mat-select  formControlName="categoryName">
                <mat-option *ngFor.="let categoryName of categoryNames" [value]="categoryName">{{ categoryName }}</mat-option>
                </mat-select>
            </mat-form-field>-->
            <div class="float-container">

            <div class="float-child, col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>{{data.physicalTreatmentCategory.categoryName}}</mat-label>
                <mat-select  formControlName="categoryName" name="category Name"  >
                  <mat-option *ngFor="let c of categories" [value]="c" required >
                   <span>{{ c.categoryName }}</span></mat-option>
                   <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix></mat-icon>
                  </mat-select>
              </mat-form-field>
          </div>

      <div class="float-child, col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3" style="margin-right: 20px">

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Duration</mat-label>
          <input matInput formControlName="duration" name="duration" />
          <!--[disabled]="categoryForm.get('categoryName')?.untouched === true"-->
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix></mat-icon>
        </mat-form-field>
      </div>
      </div>


   <div>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Notes</mat-label>
          <input matInput formControlName="notes" name="notes" />
          <!--[disabled]="categoryForm.get('categoryName')?.untouched === true"-->
          <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix></mat-icon>
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="treatmentDescription"
              name="treatmentDescription"> </textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [mat-dialog-close]="1" (click)="updatePhysicalTreatmentWithCatgeory()"
             >Update</button> <!--[disabled]="!physicalTreatmentForm.valid" -->
            <button mat-raised-button color="warn" tabindex="-1" (click)="onCloseClick()">Cancel</button>
          </div>
        </div>
      </div>
      </div>
    </form>
  </div>
</div>
