<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'All Physical Treatments'" [items]="['Physical Treatments']"
        [active_item]="'All Physical Treatments'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="materialTableHeader">
                  <div class="left">
                    <ul class="header-buttons-left ms-0">
                      <li class="tbl-title">
                        <h2>Physical Treatments</h2>
                      </li>
                      <li class="tbl-search-box">
                        <label><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search..." type="text" #filterInput
                          (input)="filterPhysicalTreatments(filterInput.value)"

                          class="browser-default search-field border border-primary" aria-label="Search box">
                      </li>
                    </ul>
                  </div>
                  <div class="right">
                    <ul class="tbl-export-btn">
                      <li class="tbl-header-btn">
                        <div class="m-l-10" matTooltip="ADD">
                          <button mat-mini-fab color="primary" (click)="openAddForm()">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div>
                      </li>
                      <li class="tbl-header-btn">
                        <div class="m-l-10" matTooltip="REFRESH">
                          <button mat-mini-fab color="primary">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li>


                    </ul>
                  </div>
                </div>
                <div class="row clearfix mt-2">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tableBody">
                      <div class="table-responsive">
                        <table class="table table-hover" matSort>
                          <thead>
                            <tr>

                              <th mat-sort-header="PhysicalTreatmentName"> Name</th>
                              <th mat-sort-header="PhysicalTreatmentCategory"> Category</th>
                              <th mat-sort-header="PhysicalTreatmentDuration"> Duration</th>
                              <th mat-sort-header="PhysicalTreatmentNotes"> Notes</th>
                              <th mat-sort-header="PhysicalTreatmentDescription"> Description</th>

                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let physicalTreatment of physicalTreatments"> <!--*ngFor="let category of categories"-->
                              <td>{{physicalTreatment.treatmentName}}</td>
                              <td>{{physicalTreatment.physicalTreatmentCategory?.categoryName}}</td>

                              <!-- <span matBadge="{{ siteGroup.sites.length }}" matBadgePosition="before" matBadgeColor="primary"></span> -->
                              <td>{{physicalTreatment.duration}}</td>
                              <td>{{physicalTreatment.notes}}</td>
                              <td> {{physicalTreatment.treatmentDescription}}</td>

                              <td>
                                <div class="actions">

                                  <button mat-icon-button class="tbl-action-btn" (click)="openEditForm(physicalTreatment)">
                                    <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                  </button>
                                  <button mat-icon-button class="tbl-action-btn" (click)="deleteTreatment(physicalTreatment)">


                                    <app-feather-icons [icon]="'trash-2'"
                                      [class]="'tbl-fav-delete'"></app-feather-icons>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--<div class="mt-4"
                        >
                          <div class="d-flex justify-content-between">
                            <span>
                                Showing: <b>{{ page }}-{{ items }}</b> of
                                <b>{{ categories.length }}</b> results
                              </span>
                               <pagination-controls
                                  (pageChange)="page = $event"
                                ></pagination-controls>
                          </div>
                        </div>-->
                        <div class="alert alert-message rounded mt-2">
                          <i class='fas fa-exclamation-triangle' style="font-size: 16px;"><strong> Oops!</strong> </i>
                        </div>
                        <div class="loading-spinner">
                          <div>
                            <!--<app-loading-spinner></app-loading-spinner>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
