/* Adjust the styles based on your design */
/*.example-chip-list {
  .chips-list {
    display: flex;
    flex-wrap: wrap;
  }

  mat-chip {
    margin: 4px;
  }

  input.mat-input-element {
    flex-grow: 1;
  }
}*/
