<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable-line">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="materialTableHeader">
                  <div class="left">
                    <ul class="header-buttons-left ms-0">
                      <li class="tbl-title">
                        <h2>StaffGrpLink</h2>
                      </li>
                      <li class="tbl-search-box">
                        <label for="search-input"><i class="material-icons search-icon">search</i></label>
                        <input placeholder="Search..." type="text" class="browser-default search-field border border-primary"

                          aria-label="Search box">
                      </li>
                    </ul>
                  </div>
                  <div class="right">
                    <ul class="tbl-export-btn">
                      <li class="tbl-header-btn">
                        <!-- <div class="m-l-10" matTooltip="ADD">
                           <button mat-mini-fab color="primary" (click)="openAddEditForm()">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </div> -->
                      </li>

                      <!-- <li class="tbl-header-btn">
                        <div class="m-l-10" matTooltip="REFRESH">
                          <button mat-mini-fab color="primary">
                            <mat-icon class="col-white">refresh</mat-icon>
                          </button>
                        </div>
                      </li> -->
                    </ul>
                  </div>
                </div>
                 <div class="row clearfix mt-2">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tableBody">
                      <div class="table-responsive">

                        <table class="table table-hover"   matSort>
                          <thead>
                            <tr>
                              <th mat-sort-header="lastName">Groupe Name</th>
                              <th mat-sort-header="firstName">Staff Name</th>

                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let stgrpLink of staffGrpLinks">
                              <td>{{ stgrpLink?.lastName }}</td>
                              <td>{{ stgrpLink?.firstName }}</td>

                              <div class="actions">
                                <!-- <button mat-icon-button >

                                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                </button> -->

                                <!-- <button mat-icon-button (click)="DeleteStaff(s)">
                                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                                </button> -->

                              </div>
                            </tr>
                          </tbody>
                        </table>
                        <!-- <div class="alert alert-message rounded mt-2">
                          <i class='fas fa-exclamation-triangle' style="font-size: 16px;"><strong> Oops!</strong></i>
                        </div> -->
                        <div class="loading-spinner">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>




              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
