//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@import '~ng-pick-datetime/assets/style/picker.min.css';

.ngx-pagination .current {
  background: #3f51b5 !important;
  border: transparent !important;
}
.bg-color-primary
{
  background-color: #3f51b5;
}
.bg-color-danger{
  background-color: red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


signature-pad canvas { border: 2px solid !important}

.mat-mdc-dialog-surface.mdc-dialog__surface{
  overflow: visible !important;
}

.big-icon{
  font-size: 20px;
}

.m-r-10{
  margin-right: 10px;
}


/* Importing Bootstrap SCSS file. */
//@import 'bootstrap/scss/bootstrap';
